body {
    background-color: #8080B3;
    font-family: Roboto, sans-serif;
}

.container {
    width: 100%;
    height: 170px;
    margin: 0 auto; /*Centraliza a div na página*/
    margin-top: -15px;
    margin-left: 25px;
    padding: 0px; /*Adiciona um espaço interno de 20px*/
    background: -webkit-linear-gradient(#8080B3, #343477);
    -webkit-background-clip: border-box;
    -webkit-background-fill-color:transparent;
    border: 1px solid #0f006a;
    border-radius: 8px; /*Arredonda os cantos da div*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*Adiciona uma sombra leve*/
    font-family: Roboto;
}

.container2 {
    width: 95%;
    height: 1330px;
    margin: 0 auto; /*Centraliza a div na página*/
    margin-left: 64px;
    padding: 5px; /*Adiciona um espaço interno de 20px*/
    background-color: #1A1A59;
    border: 1px solid #0f006a;
    border-radius: 8px; /*Arredonda os cantos da div*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*Adiciona uma sombra leve*/
    font-family: Roboto;
}

.container_rodape{
    width: 100%;
    height: 170px;
    margin: 0 auto; /*Centraliza a div na página*/
    margin-top: -15px;
    margin-left: 25px;
    padding: 0px; /*Adiciona um espaço interno de 20px*/
    background: -webkit-linear-gradient(#8080B3, #343477);
    -webkit-background-clip: border-box;
    -webkit-background-fill-color:transparent;
    border: 1px solid #0f006a;
    border-radius: 8px; /*Arredonda os cantos da div*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*Adiciona uma sombra leve*/
    font-family: Roboto;
}

.container2_rodape{
    width: 95%;
    height: 110px;
    margin: 0 auto; /*Centraliza a div na página*/
    margin-left: 64px;
    padding: 5px; /*Adiciona um espaço interno de 20px*/
    background-color: #1A1A59;
    border: 1px solid #0f006a;
    border-radius: 8px; /*Arredonda os cantos da div*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*Adiciona uma sombra leve*/
    font-family: Roboto;
}

.titulo{
    color:#0f006a;
    font-size: 40px;
    text-align: center;
    font-family: Roboto;
}

.texto{
    color:#0f006a;
    font-size: 100px;
    line-height: 1.5;
    font-family: Roboto;
}

.texto_p {
    color:#ffffff;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    font-family: Roboto;
    margin-left: -5px;
    margin-right: 20px;
}

.titulo_barra{
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    background: -webkit-linear-gradient(#FF1D1D, #FAA4A4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Roboto;
}

.subtit_rodape{
    color: #ffffff;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    margin-left: 0;
    margin-top: 73px;
}

* {
  box-sizing: border-box;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #801515;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-left: groove;
    border-right: groove;
}

.sidenav a {
  color: #FFBABA;
  padding: 16px;
  text-decoration: none;
  display: block;
  font-family: Roboto;
  font-size: 16px;
}

.sidenav a:hover {
  background-color: #4E0000;
  color: #ff4949;
}

.content{
  margin-left: 200px;
  padding-left: 20px;
  font-family: Roboto;
}

.fading_titulo{
    font-size: 70px;
    text-align: center;
    margin-left: 0;
    background: -webkit-linear-gradient(#b21f1f, #1a2a6c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Roboto;
    margin-top: 2px;
}

.subtit{
    color: #ffffff;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    margin-left: 0;
    margin-top: -22px;
}

.profile {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.profile img {
    top: 10px;
    margin-right: 20px;
    margin-left: 15px;
    right: 160px;
    width: 300px;
    height: 220px;
    border-radius: 35px;
}

.texto2 {
    margin-left: 30px;
}

.fade-in-element {
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 1s ease-in-out;
    transform: translateY(30px); /* Um pequeno deslocamento para efeito */
}

/* Quando o elemento estiver visível */
.fade-in-element.visible {
    opacity: 1;
    transform: translateY(0);
}